[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[packages]
django = "~=3.2"
django-environ = "*"
psycopg2-binary = "==2.9.1"
pillow = "*"
djangorestframework = "*"
pytz = "*"
django-cors-headers = "*"
drf-spectacular = "*"
requests = "*"
django-admin-list-filter-dropdown = "*"
gunicorn = "*"
pandas = "*"

[dev-packages]
pipenv = "*"
mkdocs = "*"
mkdocs-material = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
mdx-truly-sane-lists = "*"
